@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.heart{
    height: 50px;
}
.homePage{
font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.msg{
    width: 25rem;
}